<h2 id="legendDev">Youssef Ammari </h2>
<h2 id="legendClass">GI4 </h2>
<br><br><br>
<h1>Reactive Forms</h1><br>

<fieldset>
  <legend>Login Form</legend>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Inserted data</h3>
    {{loginForm.value | json}}
    <h2>Login </h2>
    <input type="text" name="username" id="username" placeholder="Enter your username" formControlName="user"><br>
    <span *ngIf="user && user.invalid && user.touched">Required user input</span><br>
    <input type="email" name="email" id="email" placeholder="Enter your E-mail" formControlName="email"><br>
    <span *ngIf="email && email.invalid && email.touched">Invalid email input</span>
    <br>
    <input type="password" name="password" id="password" placeholder="Enter the password"
      formControlName="password"><br>
    <span *ngIf="pass && pass.invalid && pass.touched">Invalid password input (8 characters)</span>
    <br>

    <label>
      <input type="radio" formControlName="option" value="m">
      Male
    </label>
    <label>
      <input type="radio" formControlName="option" value="f">
      Female
    </label><br>
    <span *ngIf="op && op.invalid && op.touched">Choose a gender please</span><br>

    <br>



    <input type="tel" name="tel" id="tel" placeholder="Enter your phone number" formControlName="phone"><br>
    <span *ngIf="tel && tel.invalid && tel.touched">Invalid phone input(10 numbers)</span><br>

    <input type="number" name="ant" id="ant" placeholder="كم اصابع النملة ؟" formControlName="AntFinger"><br>
    <span *ngIf="ant && ant.invalid && ant.touched">Invalid ant input (1 to 3 only)</span>
    <br>

    <label for="birthday">Birthday:</label><br>
    <input type="date" id="birthday" name="birthday" formControlName="BirthDay">
    <br>
    <span *ngIf="bd && bd.invalid && bd.touched">Invalid date of birth input</span>
    <br>
    <label for="mastery">Mastery of Angular (0 to 100):</label><br>
    <input type="range" id="mastery" name="mastery" formControlName="portee" /> <br>
    <span *ngIf="rg && rg.invalid ">Invalid range input</span>
    <br>

    <label for="week">Select the preparation week :</label><br>
    <input type="week" id="week" name="week" formControlName="week"><br>
    <br><span *ngIf=" wk && wk.invalid && wk.touched">Invalid week input</span>
    <br>
    <label for="Frameworks">Frameworks :</label><br>
    <input list="Frameworks" name="Frameworks" formControlName="Frameworks" title="frameworks"
      placeholder="Similar Frameworks to Angular">
    <datalist id="Frameworks">
      <option value="React">
      <option value="Vue JS">
      <option value="Svelte">
    </datalist>
    <br><span *ngIf=" fr && fr.invalid && fr.touched">Invalid frameworks input</span>
    <br>
    <br>
    <textarea placeholder="enter a message" title="text" formControlName="message"></textarea>
    <br><span *ngIf=" msg && msg.invalid && msg.touched">Invalid message input</span>
    <br>
    <br> <label for="check">Accept My Form</label> <br>
    <input type="checkbox" id="check" formControlName="Accept">

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</fieldset>
